body{
    font-family: 'Mitr', sans-serif;
  margin: 0px;
}
h1{
    font-size: 40px;
}
h4{
    color: mediumseagreen;
}
.colorOrange{
    color: crimson;
}
section{
    display: flex;
    margin-bottom: 120px;
    
}
.widthHalf{
    width: 50%;
    margin: 0px 10px 0px 80px;
}
.widthHalf img{
    width: 85%;
    margin: 35px 0px 0px 20px;
}
.Lbutton{
    color: white;
    text-decoration:white;
    background-color: green ;
    border: olivedrab;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}
.bannerBg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.secSecnd{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.estraMargin{
    margin: 50px 0px 0px 70px;
    font-size: 40px;
}
.estra-Margin{
    margin: 0px 0px 0px 70px;
}
.button2{
    color: white;
    text-decoration:white;
    background-color: green ;
    border: olivedrab;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    margin-left: 70px;
}